.weather {
  color: white;
  font-size: 48px;
  font-family: Rubik;
}

.divbox {
  width: 730px;
  height: 525px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.334);
  backdrop-filter: blur(25px);
  position: relative;
  margin: 14% auto;
}

.title {
  width: 658px;
  height: 64px;
  padding: 12px 0px 12px 0px;
  margin-left: 20px;
  float: left;
}

.searching {
  width: 547px;
  height: 52px;
  background: none;
  border: none;
  border-radius: 12px;
  background-color: white;
  opacity: 24%;
  font-size: 24px;
  font-family: Rubik;
  padding: 0px 0px 0px 10px;
  float: left;
}

.Find {
  width: 97px;
  height: 52px;
  font-family: Rubik;
  font-size: 24px;
  border-radius: 12px;
  background: #4d88ff;
  padding: 0px 24px 0px 24px;
  border: none;
  color: white;
  float: right;
}

.Find:hover {
  background: #6497fd;
  cursor: pointer;
  transition: 0.3s;
}

.hr {
  margin-top: 15px;
  border: none;
  border: 0.1em solid white;
  opacity: 24%;
  float: left;
  width: 658px;
}