.bottom {
    width: 625px;
    height: 288px;
    padding: 12px 0px 12px 0px;
    float: left;
    margin-top: 100px;
    margin-left: 20px;
}

.city {
    color: white;
    font-size: 32px;
    font-family: Rubik;
}

.iconimg {
    width: 100px;
    height: 100px;
}

.weatherdata {
    width: 330px;
    height: 130px;
    margin-top: -40px;
}

.temperature {
    color: white;
    font-family: Rubik;
    font-size: 64px;
    font-weight: bold;
    float: right;
    margin-top: -95px;
    margin-left: 120px;
    position: absolute;
}

.clouds {
    font-size: 23px;
    color: white;
    font-family: Rubik;
    font-weight: bold;
    float: right;
    margin-top: -20px;
    margin-right: 140px;
}