.bottom {
    width: 625px;
    height: 288px;
    padding: 12px 0px 12px 0px;
    float: left;
    margin-top: 100px;
    margin-left: 20px;
}

.city {
    color: white;
    font-size: 32px;
    font-family: Rubik;
}

.weatherdata {
    width: 250px;
    height: 98px;
    margin-top: -40px;
}

.temperature {
    color: white;
    font-family: Rubik;
    font-size: 64px;
    font-weight: bold;
}

.clouds {
    font-size: 23px;
    color: white;
    font-family: Rubik;
    font-weight: bold;
    float: right;
    margin-top: -70px;
    margin-right: 82px;
}